<div align="center">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.png)](https://colab.research.google.com/github/wisaaco/Curs_FG24GOI0074221/blob/main/lessons/3_Pandas_Introduccio.ipynb)


Si no funciona el botó podeu copiar el següent [enllaç](https://colab.research.google.com/github/wisaaco/Curs_FG24GOI0074221/blob/main/lessons/3_Pandas_Introduccio.ipynb)
</div>

# Unitat 4: Llibreria Pandas. Càrrega i emmagatzemament de dades  

Continguts

- 4.A Càrrega selectiva de dades en formats: csv, xlsx i altres formats.
- 4.B Composició dels principals elements de Pandas: índexs i columnes en sèries i dataframes.
- 4.C Selecció i filtratge d’informació
- Activitat

**Pandas** és la llibreria per excel·lència per a l'anàlisi de dades del llenguatge Python. El seu nom prové de “panel data” (terme economètric). Inspirada en les funcionalitats de fulls de càlcul i _R_, però amb el potencial d'aquest llenguatge de propòsit general.

**Pandas** inclou totes les funcionalitats necessàries per al procés d'anàlisi de dades: càrrega, filtrat, tractament, síntesi, agrupament, emmagatzematge i visualització. A més, s'integra amb la resta de llibreries de càlcul numèric com Numpy, visualització amb Matplotlib, aprenentatge automàtic amb scikit-learn, etc.

**L'objectiu d'aquesta unitat és adquirir capacitats bàsiques de càrrega de dades amb Pandas.**

Referències:

- [Pandas](https://pandas.pydata.org/)
- [Python](https://en.wikipedia.org/wiki/Python_(programming_language))
- [Característiques Pandas](https://github.com/pandas-dev/pandas#*main-*features)

*Nota*:  Pandas és una llibrería instal·lada per defecte a l'entorn d'execució de _Google Colab_.

In [2]:
import pandas as pd

# Unitat 4.A:  Càrrega de dades amb  Pandas.

A continuació, obrirem el nostre primer fitxer, ho farem a partir de dades organitzades en una estructura tabular. Aquests fitxers coneguts com a CSV (_Comma Separated Value_) és un dels formats més populars. A Excel pots exportar i importar fitxers en format CSV.

El mètode a Pandas per obrir un fitxer CSV és: [read_csv](https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.read_csv.html).

In [3]:
df_who = pd.read_csv("data/WHO.csv") #Nota: hem d'especificar la ruta (o path) del fitxer

A Pandas hi ha dos tipus **principals** de variables: **dataframes i series**. Aquest mètode genera una variable del tipus dataframe

In [4]:
print(type(df_who))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df_who

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

In [6]:
# Estructura
print(df_who.shape) # files o mostres x columnes

(202, 358)

In [7]:
df_who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Columns: 358 entries, Country to Urban_population_pct_of_total
dtypes: float64(355), int64(2), object(1)
memory usage: 565.1+ KB

In [8]:
df_who.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.930000e+02,193.000000,193.000000,...,1.860000e+02,1.780000e+02,128.000000,1.710000e+02,181.000000,170.000000,181.000000,1.880000e+02,188.000000,188.000000
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409805e+04,1.297927,54.911917,...,1.483596e+05,2.015567e+11,57.253516,3.424012e+08,56.677624,54.356471,56.677624,1.665763e+07,2.165851,55.195213
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.304957e+05,1.163864,23.554182,...,6.133091e+05,9.400689e+11,138.669298,5.943043e+10,60.060929,61.160556,60.060929,5.094867e+07,1.596628,23.742122
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00,-2.500000,10.000000,...,2.565000e+01,5.190000e+07,0.990000,-7.140000e+11,2.900000,3.000000,2.900000,1.545600e+04,-1.160000,10.000000
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.340000e+03,0.500000,36.000000,...,1.672615e+03,3.317500e+09,16.292500,-1.210000e+09,12.400000,8.475000,12.400000,9.171623e+05,1.105000,35.650000
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.762000e+03,1.300000,57.000000,...,1.021157e+04,1.145000e+10,28.515000,-2.240000e+08,29.980000,27.600000,29.980000,3.427661e+06,1.945000,57.300000
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.173200e+04,2.100000,73.000000,...,6.549217e+04,8.680000e+10,55.310000,1.024000e+09,88.700000,82.900000,88.700000,9.837113e+06,3.252500,72.750000
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06,4.300000,100.000000,...,5.776432e+06,1.100000e+13,1334.860000,1.390000e+11,267.000000,253.700000,267.000000,5.270000e+08,7.850000,100.000000

In [9]:
df_who.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [10]:
df_who.tail()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.2,23.4,20.2,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.0,25.8,28.0,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.4,87.9,82.4,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.3,163.8,175.3,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.5,67.0,106.5,4709965.0,1.90,35.9

### Carrega de dades (II)

Malauradament, l'estructura i la codificació de les dades en els fitxers _CSV_ varia segons l'eina o el sistema operatiu. Així, podem tenir separadors entre columnes que no siguin la típica ',' o formats no oberts (i.e. utf-8, ansci,...) de codificació del text.

Per això, la funció *read_csv* té molta versatilitat. Mirem la seva [documentació](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

Anem a veure que passa quan agafem dades de d'una administració pública: [enllaç](https://datos.gob.es/es/catalogo?q=bilbao&g-recaptcha-response=&administration_level=L&theme_id=economia&sort=score+desc%2C+metadata_created+desc). Aquest fitxer està disponible a: "data/presupuesto_gastos_2023.csv"

In [11]:
df_gastos = pd.read_csv("data/presupuesto_gastos_2023.csv") # quins errors genera ?

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc1 in position 1697: invalid start byte

### Codificació de caràcters

Python utilitza una representació basada en Unicode (https://home.unicode.org/). En canvi altres sistemes operatius i eines opten per altres tipus de representacions.

```python
var = "camión"
var = "lul·lià"
var = "Ζεύς"
var = "ประเทศไทย"
var = "日本語で"
```


Codificacions:

- [Llistat codificacions](https://docs.python.org/3.11/library/codecs.html#standard-encodings)
- [UTF-8](https://es.wikipedia.org/wiki/UTF-8)

In [8]:
# cp1250 | windows-1250 | Central and Eastern Europe

# Mètode bàsic: "Prova i error" !!!
df_gastos = pd.read_csv("data/presupuesto_gastos_2023.csv",delimiter=";",encoding="cp1250")

In [9]:
df_gastos.head()

,_id,SOZIETATEA_EU/SOCIEDAD_EU,SOZIETATEA_CAS/SOCIEDAD_CAS,EKITALDIA/EJERCICIO,SAILA/DEPARTAMENTO,SAILAREN DESKRIBAPENA_EU/DESCRIPCION DEPARTAMENTO_EU,SAILAREN DESKRIBAPENA_EU/DESCRIPCION DEPARTAMENTO_CAS,ZENTRU KUDEATZAILEA/CENTRO GESTOR,ZENTRO KUDEATZAILEAREN DESKR._EUS/DESCR. CENTRO GESTOR_EUS,ZENTRO KUDEATZAILEAREN DESKR._CAS/DESCR. CENTRO GESTOR_CAS,...,ARTIKULUAREN DESKRIBAPENA_CAS/DESCRIPCION ARTICULO_CAS,KONTZEPTUA/CONCEPTO,KONTZEPTUAREN DESKRIBAPENA_EUS/DESCRIPCION CONCEPTO_EUS,KONTZEPTUAREN DESKRIBAPENA_CAS/DESCRIPCION CONCEPTO_CAS,AZPIKONTZEPTUA/SUBCONCEPTO,AZPIKONTZEPTUAREN DESKRIBAPENA_EUS/DESCRIPCION SUBCONCEPTO_EUS,AZPIKONTZEPTUAREN DESKRIBAPENA_CAS/DESCRIPCION SUBCONCEPTO_CAS,PROIEKTUA/PROYECTO,PROIEKTUAREN DESKRIBAPENA/DESCRIPCION PROYECTO,HASIERAKO KREDITUA/CREDITO INICIAL 2023
0,1,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DE ALTOS CARGOS,100,GOI KARGUEN OINARRIZKO SOLDATAK ETA BESTELAKO ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,10001,GOI KARGUEN OINARRIZKO SOLDATAK ETA BESTELAKO ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,9999/99999,GENERIKOA/ GENÉRICO,"220.619,00"
1,2,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL EVENTUAL DE GABINETES,110,KABINETEETAKO ALDI BAT. PERTSONALAREN OINARRIZ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,11001,KABINETEETAKO ALDI BAT. PERTSONALAREN OINARRIZ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,9999/99999,GENERIKOA/ GENÉRICO,"589.261,00"
2,3,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,120,FUNTZIONARIOEN OINARRIZKO SOLDATAK,RETRIBUCIONES BASICAS DEL PERSONAL FUNCIONARIO,12001,FUNTZIONARIOEN OINARRIZKO SOLDATAK,RETRIBUCIONES BASICAS DEL PERSONAL FUNCIONARIO,9999/99999,GENERIKOA/ GENÉRICO,"383.369,00"
3,4,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,121,FUNTZIONARIOEN ORDAINSARI OSAGARRIAK,RETRIBUCIONES COMPLEMENTARIAS DEL PERSONAL FUN...,12101,LANTOKI OSAGARRIA,COMPLEMENTO DE DESTINO,9999/99999,GENERIKOA/ GENÉRICO,"131.722,00"
4,5,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,121,FUNTZIONARIOEN ORDAINSARI OSAGARRIAK,RETRIBUCIONES COMPLEMENTARIAS DEL PERSONAL FUN...,12102,OSAGARRI BEREZIA,COMPLEMENTO ESPECIFICO,9999/99999,GENERIKOA/ GENÉRICO,"396.609,00"

### Guardant un dataframe

Durant aquest curs aprendrem a modificar els dataframes, afegirem i eliminarem columnes i també modificarem les que ja tenim. Per tant, feta aquesta feinada, és necessari guardar les dades noves a un fitxer.

In [ ]:
df_gastos.to_csv('data/tmp_file.csv',encoding='utf-8') # guardant un dataframe en un fitxer, especificant el format

In [ ]:
df_tmp = pd.read_csv("data/tmp_file.csv") # test codificació i separador

### Carrega de dades (III)

Pandas soporta diferents formats de fitxers (i.e. CSV,JSON, formats d'Excel, pàgines web, fitxers penjats a la web, etc.). Obviament, cada format té la seva particularitat.

Trobarem més informació al següent [enllaç](https://pandas.pydata.org/docs/reference/io.html) 

Un exemple de contigut a la Wikipedia:

In [ ]:
url = "https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a" # Fes un copypaste d'aquesta url al teu navigador

comunidades_esp = pd.io.html.read_html(url) 
comunidades_esp # Alerta! Encara no és un dataframe! En una web pots trobar més "taules"

In [ ]:
print(type(comunidades_esp[0]))
df_comunidades_esp = comunidades_esp[0]

In [ ]:
df_comunidades_esp.head() # funciona perfectament??

Un segon exemple de contigut amb un fitxer JSON penjat a la web:

In [ ]:
#Font: https://data.cityofnewyork.us/Environment/Urban-Park-Ranger-Animal-Condition-Response/fuhs-xmg2
url = 'https://data.cityofnewyork.us/resource/s3vf-x992.json'
df = pd.read_json(url)
df.head()

## <span style="color:red">Activitat</span>

En aquesta activitat practicarem la càrrega de dades en diferents formats. Al món real les dades no sempre tenen una estructura i un format com ens agradaríem.

L'objectiu és que analitzeu la càrrega d'aquestes dades amb les originals: <br/>

- Quina dimensió tenen les dades reals i carregades?
- Quines columnes?
- El concepte de columna com atribut o característica i el concepte de fila com a mostra està present en l'estructura de les dades?
- Coincideixen amb la informació del fitxer?

##### A) "Municipios y fenómeno demográfico de les Illes Balears" <br/>

- Font: https://datos.gob.es/es/catalogo/ea0010587-balears-illes-por-municipios-y-fenomeno-demografico-mnpd-identificador-api-t20-e301-fenom-a2020-l0-23007-px
- Fitxer: "data/municipis.csv" <br/>

In [ ]:
import pandas as pd
#TODO

##### B) "Speculation Watch List"
- Font: https://data.cityofnewyork.us/Housing-Development/Speculation-Watch-List/adax-9mit
- Fitxer: "data/Speculation_Watch_List.csv"

In [ ]:
import pandas as pd
#TODO

##### C) "Europe Inflation monthly data (annual rate of change)" 

- Font: https://ec.europa.eu/eurostat/databrowser/view/PRC_HICP_MANR__custom_3761882/bookmark/table?lang=en&bookmarkId=4ad27e6f-358a-4a3d-82a0-587d69a833eb
- Fitxer: "data/prc_hicp_manr__custom_3761882_spreadsheet.xlsx" <br/>
- *Nota:*
  - Com podem agafar una "fulla" concreta del full de càlcul? [documentació](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)
  - Per aquesta activitat necessitem instal·lar una llibreria específica: executa la següent cel·la

In [ ]:
%pip install openpyxl

In [ ]:

import pandas as pd
#TODO

##### D) "Taula de Naixements"

- Font: https://ibestat.caib.es/ibestat/estadistiques/poblacio/naixements/414cab4f-b402-4cd1-af05-6617443de384
- URL dades: "https://ibestat.caib.es/ibestat/estadistiques/poblacio/naixements/414cab4f-b402-4cd1-af05-6617443de384" <br/>

In [ ]:
import pandas as pd
#TODO

##### E) "Nights spent at tourist accommodation establishments by residents/non-residents - monthly data"

- Font:  https://ec.europa.eu/eurostat/databrowser/view/tin00171/default/table?lang=en
- Fitxer: "data/tin00171_linear.csv.gz"
- **Nota**: 
    - Els fitxers comprimits amb format .gz podem obrir-se directament com si fossin fitxers de dades amb pandas, i en aquest cas és un fitxer del tipus CSV. És a dir, no cal descomprimir.

In [ ]:
import pandas as pd
#TODO

[![License: CC BY 4.0](https://img.shields.io/badge/License-CC_BY_4.0-lightgrey.svg)](https://creativecommons.org/licenses/by/4.0/) <br/>
Isaac Lera and Gabriel Moya <br/>
Universitat de les Illes Balears <br/>
isaac.lera@uib.edu, gabriel.moya@uib.edu